/* Add your CSS code below */
.link--map {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.link--gif {
  color: rgb(38, 155, 22);
  text-decoration: none;
  font-weight: bold;
}
time {
  font-size: 0.9rem;
}
.message--unread {
  border-style: none none none outset;
  border-color: blue;
  border-width: 0.3rem;
}
.message__time--old {
  opacity: 0.2;
}

.message {
  line-height: 2rem;
}
